*{
    padding: 0;
    margin: 0;
}

.navbar-light .navbar-nav .nav-link:hover{
color: #b81c1f;


}
.nav-item{
    color: white;
    font-size: 18px;
    margin: 20px;
    margin-top: 1px;
}

.container-fluid{
    margin-right: 4%;
}


body, html {
width: 100%;
height: 100%;
background-color: rgba(78,106,130,255);
padding: 0;
margin: 0;
overflow-x: hidden;
overflow-y:hidden ;

}


.logo {
    width: 100px;
    height: 80%;
    border-radius: 50%;
    margin-top: 10%;
    margin-left: 15%;
  }
  

.about {
    color: aquamarine;
    font-size: 20x;
    margin-top: 7rem;
    margin-left: 7rem;
    margin-right: 1rem;
    text-align: justify;
    padding-right: 0px;
    
}



}
div.satemen{
    margin-left: 0px;
    text-align: justify;

}

.img{
    width: 85%;
    margin-left: 4rem;
}


.fade-in {
    animation: fadeIn ease 5s;
    -webkit-animation: fadeIn ease 5s;
    -moz-animation: fadeIn ease 6s;
    -o-animation: fadeIn ease 6s;
    -ms-animation: fadeIn ease 6s;
  }
  @keyframes fadeIn {
    0% {
      opacity:0;
    }
    100% {
      opacity:1;
    }
  }
  
  @-moz-keyframes fadeIn {
    0% {
      opacity:0;
    }
    100% {
      opacity:1;
    }
  }
  
  @-webkit-keyframes fadeIn {
    0% {
      opacity:0;
    }
    100% {
      opacity:1;
    }
  }
  
  @-o-keyframes fadeIn {
    0% {
      opacity:0;
    }
    100% {
      opacity:5;
    }
  }
  
  @-ms-keyframes fadeIn {
    0% {
      opacity:0;
    }
    100% {
      opacity:1;
  }
  
  }

  
  @media only screen and (max-width: 900px) {
    body, html{
      overflow-x: hidden;
      overflow-y:hidden ;
    }
    .navbar-nav {
       flex-direction: row;
     
    }
    .logo{
      width: 70px;
 
    }
    .move{
        justify-content: flex-start;
        margin-left: 2px;
        
    }
    .
    div.text {
        margin: 0;
    }
    .img-fluid {
      max-width: 150%;
      margin-left: 130px;
      
      
    }
    div.button123{
        margin-left: 0px;

    }
    div.text{
      margin-left: 5px;
    }
    span.hannah{
      margin-left: 0px;
      font-size: 25px;
    }
    h4.myname{
      margin-left: 0px;
      margin-top:50px;
    
    }
    h2.qoute{
      margin-left: 0px;
      margin-right: 10px;
    }
    
   div.text{
     margin-top: 0px;
   }
   a{
     font-size: 10px;
   }
  
   body, html {
    padding: 0;
    margin: 0;
    overflow-x: hidden;
    overflow-y:hidden ;
  }
  .container-fluid {
    margin-right: 0%; 
    padding-right: 0px;
}
div.links{
  margin-top: 10%;
}
b {
  font-size: 12px;

}
.about{
  margin-left: 0px;
  margin-top:3rem;
  font-size: 15px;
  margin-right: 100px;

}
.img{
  margin-left: 10rem;
  width: 70%;

}
h3{
  line-height: 2;
}

}
