*{
    margin: 0%;
    padding: 0%;
}
header{
    background-image: url(https://i.ibb.co/6mxbSWx/unnamed-12.jpg);
    height: 400vh;
    background-size: cover;
    background-position: center;
}
.images h1{
    font-size: 55px;
    color: aliceblue;
    padding-top: 5%;
}
.my friends h1{
    font-size: 55px;
    color: black;
    padding-block-start: 3%;
}