@import url('https://fonts.googleapis.com/css2?family=Estonia&family=Great+Vibes&family=Praise&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

button:hover{

    opacity: 0.8;
    transition: all .3s ease-in-out;
}
body{
    background-color: #2b1055;
}

.Container {
    padding-left: 20px;
    padding-right: 20px;
    background-color:#2b1055;
}
nav.Container > div > img {
    height: 70px;
    margin-top: 1%;
    margin-left: 1%;
    position: absolute;
}

nav.Container > h1 {
    float: left;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 12pt;
    color: white;
    position: inherit;
    margin-left: 150px;
    margin-top: 25px;
}

nav.Container > p {
    float: left;
    color: white;
    font-family: sans-serif;
    font-size: 10pt;
    position: absolute;
    margin-left: 150px;
    margin-top: 50px;
}
.menu {
    float: right;
    margin-top: 15px;
    margin-right: 15px;
}
.menu button{
    border: 1.5px solid white;
}
.nav2 {
    background-color: rgb(160, 247, 160);
    height: 40px;
    position: relative;

}
.btn-change {
    border-style: solid;
    height: 25px;
    background: rgb(124, 31, 161);
}

.btn-change:hover {
    background: violet;
}

.btn-change1 {
    border-style: solid;
    height: 25px;
    background: rgb(94, 8, 116);
}

.btn-change1:hover {
    background: purple;
}

.btn-change2 {
    border-style: solid;
    height: 25px;
    background: #6d5e9f;
}

.btn-change2:hover {
    background: green;
}


.btn-change4 {
    border-style: solid;
    height: 25px;
    background: rgb(1, 14, 1);
}

.btn-change4:hover {
    background: green;
}

.search {
    float: right;
    padding-top: 0;
    padding-right: 2%;
    height: 10%;
}

.search input {
    padding: 5px;
    color: white;
    border: 1.5px solid white;
    background-color: transparent;
    margin-top: 4%;
    margin-right: 5%;
    height: 30px;
    width: 350px;
}
.search input::placeholder{
    color: white;
}
span.signup > a {
    float: right;
    margin-right: 20px;
    margin-top: 10px;
    text-decoration: none;
    color: black;
}
span.signup :hover {
    color: green;
}

.UP > img {
    float: right;
    height: 31px;
    width: 31px;
    margin-top: 5px;
    margin-right: 10px;
}

span.login > label {
    float: right;
    margin-right: 20px;
    margin-top: 10px;
    text-decoration: none;
    color: black;
}

span.login :hover {
    color: green;
}

.IN > img {
    float: right;
    height: 30px;
    width: 30px;
    margin-top: 5px;
    margin-right: 10px;
}

.vanie img {
    width: 40px;
    height: 40px;
    margin-left: 10%;
    float: left;
}
.home {
    font-size: 12pt;
    margin-top: 10px;
    text-decoration: none;
    color: black;
    padding: 0;
    margin-left: 10px;
    float: left;
}

@media only screen and (max-width:500px) {
    .search input {
        margin-top: 52%;
        margin-right: 5%;
        height: 25px;
        width: 100%;
    }
    span.signup > a {

        margin-top: 10px;
        text-decoration: none;
        color: black;
    }
    span.login > label {
        margin-top: 10px;
        text-decoration: none;
        color: black;
    }
    .UP > img {
        float: right;
        height: 31px;
        width: 31px;
        margin-top: 5px;

    }
    .IN > img {
        float: right;
        height: 30px;
        width: 30px;
        margin-top: 5px;

    }

    .nav2 {
        background-color: rgb(160, 247, 160);
        height: 40px;
        margin-top: 4%;
        position: relative;

    }
    .btn-change {
        border-style: none;
        display: block;
    }
    .btn-change1 {
        border-style: none;
        display: block;
    }
    .btn-change2 {
        border-style: none;
        display: block;
    }
    .btn-change3 {
        border-style: none;
        display: block;
    }
    .btn-change4 {
        border-style: none;
        display: block;
    }
}

.J {
    margin-top: 5%;
    margin-left: 5%;
    background-color: greenyellow;
    width: 90%;
    height: 60%;
}
.J img {
    width: 60%;
    height: 550px;

    image-resolution: 720px;
    float: left;
    position: relative;
}

:root {
    --light-main: rgb(160, 247, 160);
    --light-second: green;
    --light-hover: rgb(67, 201, 67);
    --light-text: rgb(1, 14, 1);

    --blue: green;
    --white: #fff;
    --font-family: cursive;
}

.light {
    --bg-body: var(--light-body);
    --bg-main: var(--light-main);
    --bg-second: var(--light-second);
    --color-hover: var(--light-hover);
    --color-txt: var(--light-text);
    float: right;
    margin-right: 3%;
    height: 65%;
    width: 30%;
    display: block;
}


.section {
    height: 250px;
    width: 100%;
}


@media (max-width: 644px) {

    .footer-distributed {
        font: bold 14px sans-serif;

    }
    .main {
        line-height: normal;
        font-size: auto;
    }

}
.bg{
    background: url(Resources/purplebeach.jpg);
    background-repeat: no-repeat;
    height: 484px;
    image-resolution: 1024px;
    background-size:100% 90%;
}
.body span{
    font-family: 'Times New Roman';
}
.bg .body{
    font-size: 1rem;
    font-weight: normal;
    letter-spacing: 1px;
    
}
.btn button{
    margin-top: 10px;
    width: 100px;
    padding: 5px;
    border: none;
    text-transform: uppercase;
    color: white;
    background: #105B13;
    border-radius: 0px 15px;
}
.main-abt h2{
    color: white;
    text-align: center ;
    margin: 30px;
}

.rppic img{
    width: 400px;
    height: 400px;
}

.def{
    margin-right: 10vh;
    padding: 20px;
    margin-left: 5vh;
    color: white;
    font-size: 16px;
}
.rp{
    display: flex;
    margin-left: 20vh;
}
.def button{
    width:100px;
    margin-top: 8px;
    background-color: blue;
    text-transform: uppercase;
    padding: 5px;
    display: block;
    border: none;
    color: white;
    text-align: center; 
}
.misdef {
    color: white;
    padding: 10px;
    font-size: 16px;
    text-align: justify;
    width: 93%;
    margin-left: auto;
    margin-right: auto;
    text-decoration-line:overline;
}
.story{
    margin-top: 25px;
    display: flex;
    margin-left: 20vh;
}
.story h5{
    color: white;
    text-align: left; 
    margin-top: 5px;
    font-size: 1.5rem;
    letter-spacing: 1px;
}


.sp img{
    display: flex;
    width: 280px;
    height: 280px;
      
}
.storydef{
    margin-right: 9vh;
    padding: 10px;
    margin-left: 8vh;
    color: white;
    font-size: 16px;
    width: 600px;
    line-height: 28px;
    
}
.storydef button{
    display: block;
    border: none;
    margin-top: 5px;
    text-transform: uppercase;
    color: white;
    padding: 5px;
    background-color: red;
    width: 100px; 
}
.action h6{
    color: white;
    text-align: center;
    font-size:  1.5rem;
    margin: 30px 0;
}
.planting{
    background: url(Resources/USC.jpg);
    background-repeat: no-repeat;
    width: 362px;
    height: 386px;
    background-size: cover;
    background-position: center;
}
.recycle{
    background: url(Resources/SMS\ -\ Copy.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 362px;
    height: 386px;
}
.plant{
    background: url(Resources/SMS\ -\ Copy.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 362px;
    height: 386px;
}
.img{
    display: flex;
    align-items: center;
    justify-content: center;
}
.img div{
    margin: 20px;
}
.img div button{
    border: none ;
    background: rgba(21, 189, 38, 0.91);
    border-radius: 5px;
    margin-top: 250px;
    margin-left: 120px;
    width: 120px;
    padding: 10px;
    text-transform: uppercase ;
    color: white;
}
.team h1{
    text-transform: uppercase;
    font-size: 1.5rem;
    text-align: center;
    color: white;
    margin-bottom: 20px;
}
.box{
    display: flex;
    align-items: center;
    justify-content: center;
}
.card{
    margin: 20px;
    width: 300px;
    height: 400px;
    background: rgba(66, 226, 40, 0.03);
}
.team .card .circle img{
    margin: 20px 0px 10px 73px;
    width: 142px;
    height: 142px;
    border-radius: 50%;
}

.name{
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 20px;
    line-height: 27px;
    text-shadow: 5px 5px 3px black;
    font-family: 'Times New Roman', Times, serif
}
.pos{
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    text-transform: capitalize;
    font-weight: 600;
    font-size: 16px;
    padding: 5px;
    text-shadow: 5px 5px 3px black  ;
}
#p{
    font-size: 20px;
    color: red;
    padding: 10px;
    line-height: 21px;
    font-family:'Great Vibes';
    text-shadow: 5px 5px 3px black;
    text-align: center;
    margin-top: 0;
}
.card p{
    font-size: 20px;
    color: #A460ED;
    padding: 5px;
    line-height: 21px;
    text-shadow: 5px 5px 3px black;
    text-align: center;
    margin-top: -50px;
}
.card .img{
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.img img:hover{
    opacity: 0.8;
    transition: all .3s ease-in-out;
}
.partners h1{
    color:white;
    text-align: center;
    text-transform: uppercase;
    
}
/* .logo img{
    width: 300px;
    height: 170px;
} */
.bm{
    width: 225px !important;
    height: 80px !important;
    margin: 35px 0px 50px 40px;
}
.logo p{
    font-size: 12px;
}

.unbtn{
    display: flex;
    align-items: center;
    justify-content: center;
}

.right{
    margin-left: 200px;
}
.images img{
    padding: 10px;
}
.RJCB{
    color:#A460ED;
    font-size: 50px;
    margin-bottom: -80px;
}
