@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sacramento&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Aboreto&display=swap');

*{
    font-family: 'Quicksand';
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
}

body{
    height: 100%;
}
.main{
    padding: 66px;
    background-color: #c8ae7e;
    height: 100%;
    color: #433e35;
}

.main h1 span{
    font-size: 65px;
    font-family: 'Sacramento';
    color: #262420;
    position: relative;
}

.main h1 .name::after{
    content: '';
    background-color: #262420;
    position: absolute;
    bottom: 0;
    left: 40px;
    right: 0;
    height: 1px;
    top: 70px;
    border-top: 3px solid #433e35;
    width: 100px;
    border-radius: 50px;
}


.about{
    position: relative;
}

.about h2{
    margin-top: 20px;
    font-size: 20px;
    text-transform: uppercase;
}

.about ul {
    padding: 20px;
    padding-top: 0;
    margin: auto;
}

.about ul li{
    padding: 5px;
}

.main .socials{
    text-align: center;
    margin-top: 15px;
    margin-top: 50px;
}

.main .socials p{
    font-family: 'Aboreto';
    font-weight: bold;
    font-size: 12px;
}

.main .socials i{
    color: #433d32;
    font-size: 30px;
    padding: 10px;
}
.main .socials i:hover{
    color: #262420;
}

.head{
    text-align: center;
}

#biography{
    margin-top: 30px;
}

.biography{
    display: flex;
}

.biography .content{
    width: 50vw;
    margin-top: 50px;
}

.biography .content .description{
    font-weight: bold;
    padding: 20px;
}

.biography .content .description span{
    font-size: 30px;
    font-family: 'Sacramento';
}

.biography .likes{
    width: 50vw;
    margin-top: 50px;
    background-color: #433d32;
    color: #c8ae7e;
    text-align: center;
    padding: 20px;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
}

.likes .title{
    font-family: 'Aboreto';
    font-size: 40px;
    font-weight: bold;
}

.likes ul{
    line-height: 1.6;
}

.likes ul li:nth-child(odd){
    color: aliceblue;
}

img{
    width: 350px;
    height: auto;
    border-radius: 50%;
    margin-right: 90px;
    border: 10px solid;
}

